# Ignore everything
*

# Unignore the directory structures
!evolution/
!data/
!solve/

# 3. Re-ignore everything inside those directories 
# (This ensures only the specific files below are picked up)
evolution/*
data/*
solve/*

# Unignore specific files
!evolution/*.py
!evolution/config.json
!optimization_utils.py
!evolution_visualization.ipynb
!exploration.ipynb
!.gitignore
!data/generated_data.py
!data/utils.py 
!solve/method.py
!solve/utils.py
!solve/config_optim.json
!run.py
!run_noise.py
!README.md 
